#contenedor{
	//width: 1200px;
}

#cabecera{
	height: 100px;
	//width: 100%;
	width: 1200px;
	//background-color: blue;
	//border-bottom: 2px solid #dddddd;
}

#cuerpo{
	//width: 100%;
	width: 1200px;
	height: 500px;
	//background-color: gray;
	float: left;
	border: 2px solid #dddddd;
}

#misdatos{
	width: 25%;
	//width: 300px;
	height: 500px;
	//background-color: green;
	float:left;
	border-right: 2px solid #dddddd;
	//border-left: 2px solid #dddddd;
}

#principal{
	width: 74%;
	//width: 900px;
	height: 500px;
	float: right;
	//border-right: 2px solid #dddddd;
	//background-color: red;
	//padding: 3px;
}

#pie{
	height: 60px;
	//width: 100%;
	width: 1200px;
	//background-color: red;
	border-right: 2px solid #dddddd;
	border-left: 2px solid #dddddd;
	border-bottom: 2px solid #dddddd;
	clear: both;
}

#mifoto{
	width: 93%;
}

h1{
	font-size: 50px;
}

h2{
	font-size: 32px;
}